PORT=4000

# Mongo source: local | atlas
MONGO_ENV=atlas

MONGODB_LOCAL_URI=mongodb://127.0.0.1:27017/new-folder
MONGODB_ATLAS_URI=mongodb+srv://draganpapicczv_db_user:Pi.14159265@cluster0.jzqsv9r.mongodb.net/myKitchen?retryWrites=true&w=majority

# Optional override. If set, this value is used regardless of MONGO_ENV.
MONGODB_URI=
JWT_SECRET=change-this-secret-before-production
